################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/mapper-expressiontree/bin/Debug
/mapper-expressiontree/obj
/.vs
/packages/Newtonsoft.Json.10.0.3
